/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

*.csproj
*.sln
*.slnx
*.unityproj
*.suo
*.user
*.userprefs
*.tmp
*.vscode
*.idea
crashlytics-build.properties

sysinfo.txt
*.stackdump

[Aa]ssets/AssetStoreTools*

/.superpowers/
